# Question 1
Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?

What value is displayed when the last expression (a) is evaluated? Explain your 
answer by indicating what happens in every executed statement.

In [9]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

In [10]:
b()

In [11]:
b()

In [12]:
b()

In [13]:
a

6

## Question 2
Function fileLength(), given to you, takes the name of a file as input and returns 
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory: 
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read 
as a text file, an exception will be raised. Modify function fileLength() so that a 
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [32]:
def fileLength(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        ##print('File is {} not found'.format(file))
        print('File {} not found'.format(file_name))

In [33]:
fileLength('midterm.py')

123

In [34]:
fileLength('idterm.py')

File idterm.py not found

## Question 3
Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the 
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the 
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and 
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [16]:
class Marsupial:
    pouch=[]
    def put_in_pouch(self,pouch):
        self.pouch.append(pouch)
    def pouch_contents(self):
        return self.pouch
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [17]:
class Kangaroo(Marsupial):
    def __init__(self,x,y):
        self.x = x
        self.y = y
        Marsupial.__init__(self)
    def jump(self,dx,dy):
        self.x = self.x + dx
        self.y = self.y + dy
    def __str__(self):
        return "I am a Kangaroo located at coordinates ({}.{})".format(self.x,self.y)

In [18]:
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0.0)

In [19]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten', 'doll', 'firetruck', 'kitten']

In [20]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3.0)

## Question 4
Write function collatz() that takes a positive integer x as input and prints the 
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying 
this rule to the previous number x in the sequence:
x = {
𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
Your function should stop when the sequence gets to number 1. Your 
implementation must be recursive, without any loops.

In [45]:
def collatz(integer):
    
    if (integer==1):
        return(1)
              
    elif(integer%2==0):
        print (integer)
        integer/=2
        collatz(integer)
    else:
        print(integer)
        integer=3*integer+1
        collatz(integer)

In [46]:
collatz(1)

1

In [47]:
collatz(10)

10
5.0
16.0
8.0
4.0
2.0

## Question 5
Write a recursive method binary() that takes a non-negative 
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001
Question

In [54]:
def binary(d):
    if d > 1:
        binary(d//2)
    print(d % 2,end = '')

In [55]:
binary(0)

0

In [56]:
binary(1)

1

In [57]:
binary(3)

11

In [58]:
binary(9)

1001

## Question 6
Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [5]:
infile = open('w3c.html') 
content = infile.read() 
infile.close()

In [6]:
#Refered stackoverflow and websites
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    def __init__(self):
        HTMLParser.__init__(self)
        self.inHeading = False
        self.indentation = ''

    def handle_starttag(self, i , attrs):
        if i in ["h1","h2","h3","h4","h5","h6"]:
            self.inHeading = True
            self.indentation = ' ' * (int(i[1]) - 1)
        else:
            self.inHeading = False
    
    def handle_data(self, j):
        if self.inHeading:
            print("{}{}".format(self.indentation, j))
            self.inHeading = False

hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

# Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and 
non-negative integers depth and indent. Your function should visit every web 
page reachable from the starting URL web page in depth clicks or less, and print 
each web page's URL. As shown below, indentation, specified by indent, should 
be used to indicate the depth of a URL.
>>> 
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [19]:
#Refered from internet and lecture materials
from urllib.parse import urljoin
from html.parser import HTMLParser
from urllib.request import urlopen

class Collector(HTMLParser):
    
    def __init__(self, url):
        
        HTMLParser.__init__(self)
        self.url = url
        self.links = []
    def handle_starttag(self, t , attrs):
        
        if t == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    urlfinder = urljoin(self.url, attr[1])
                    if urlfinder[:4] == 'http':
                        self.links.append(urlfinder)
    def getLinks(self):
        
        return self.links

def webdir(url,depth,indent):
    urlData = ''
    for x in range(indent):
        urlData+= " "
    print(urlData+url)
    if depth<=0:
        return
    try:
        resource = urlopen(url)
        content = resource.read().decode()
        collector = Collector(url)
        collector.feed(content)
        urls = collector.getLinks()
    except:
        return
    for url1 in urls:
        webdir(url1,depth-1,indent+1)

In [20]:
from urllib.request import urlopen
url = 'http://reed.cs.depaul.edu/lperkovic/one.html'
webdir(url,2,0)

http://reed.cs.depaul.edu/lperkovic/one.html
 http://reed.cs.depaul.edu/lperkovic/two.html
  http://reed.cs.depaul.edu/lperkovic/four.html
 http://reed.cs.depaul.edu/lperkovic/three.html
  http://reed.cs.depaul.edu/lperkovic/four.html

# Question 8
Write SQL queries on the below database table that return: 
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.e) The city, country, and season for which the average rainfall is between 200 
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20 
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

In [50]:
 !pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.4.0-py3-none-any.whl (19 kB)
Requirement already satisfied: six in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (1.4.7)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
Requirement already satisfied: ipython>=1.0 in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (7.22.0)
Collecting sqlparse
  Downloading sqlparse-0.4.2-py3-none-any.whl (42 kB)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: pygments in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.8.1)
Requirement already satisfied: backcall in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: colorama in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: setuptools>=18.5 in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (52.0.0.post20210125)
Requirement already satisfied: decorator in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.6)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.17)
Requirement already satisfied: jedi>=0.16 in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.2)

In [51]:
%load_ext sql

Requirement already satisfied: traitlets>=4.2 in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\user\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\user\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.0.0)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py): started
  Building wheel for prettytable (setup.py): finished with status 'done'
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13699 sha256=317d203bb7449f3820f276eaefe663bc5071ad7587ea354b0cde9cd11a652146
  Stored in directory: c:\users\user\appdata\local\pip\cache\wheels\48\6d\77\9517cb933af254f51a446f1a5ec9c2be3e45f17384940bce68
Successfully built prettytable
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.4.0 prettytable-0.7.2 sqlparse-0.4.2

In [52]:
%sql sqlite://

In [56]:
%%sql
CREATE TABLE data(City varchar(40),Country varchar(40),Season varchar(40),Temperature float,
Rainfall float);

 * sqlite://
(sqlite3.OperationalError) table data already exists
[SQL: CREATE TABLE data(City varchar(40),Country varchar(40),Season varchar(40),Temperature float,
Rainfall float);]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [60]:
%%sql   
SELECT * FROM data

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.8, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [81]:
%%sql
INSERT INTO data VALUES
('Mumbai','India', 'Winter',24.8,5.9);
('Mumbai','India', 'Spring',28.8,16.2);
('Mumbai','India', 'Summer',27.9,1549.4);
('Mumbai','India', 'Fall',27.6,346.0 );
('London','United Kingdom','Winter',4.2,207.7 );
('London','United Kingdom','Spring',8.3,169.6 );
('London','United Kingdom','Summer', 15.7,157.0);
('London','United Kingdom','Fall', 10.4,218.5);
('Cairo','Egypt','Winter', 13.6,16.5);
('Cairo','Egypt','Spring', 20.7,6.5);
('Cairo','Egypt','Summer',27.7,0.1);
('Cairo','Egypt','Fall', 22.2,4.5);

 * sqlite://
1 rows affected.
(sqlite3.OperationalError) near "(": syntax error
[SQL: ('Mumbai','India', 'Spring',28.8,16.2);]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [58]:
%%sql
SELECT Temperature from data

 * sqlite://
Done.

[(24.8,),
 (28.8,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [61]:
%%sql
SELECT distinct city FROM data

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

In [64]:
%%sql
SELECT * FROM data WHERE Country = 'India'

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.8, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [65]:
%%sql
SELECT * FROM data WHERE Season = 'Fall';

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [66]:
%%sql
SELECT * FROM data WHERE Rainfall >= 200 AND Rainfall <= 400

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5)]

In [68]:
%%sql
SELECT City, Country FROM data WHERE Season = 'Fall' and Temperature > 20.0 ORDER BY Temperature ASC

 * sqlite://
Done.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [70]:
%%sql 
SELECT SUM(Rainfall) FROM data WHERE CITY = 'Cairo'

 * sqlite://
Done.

[(27.6,)]

In [72]:
%%sql
SELECT SUM(Rainfall) FROM data GROUP BY Season

 * sqlite://
Done.

[(569.0,), (192.29999999999998,), (1706.5,), (230.1,)]

# Question 9
. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following 
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list 
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], 
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list 
words, where each list contains the word in uppercase and lowercase and the 
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog'] (the list of words in list words containing 4 or more 
characters.

In [80]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
uppercase = [w.upper() for w in words]
print(uppercase)
lowercase = [w.lower() for w in words]
print(lowercase)
length = [len(w) for w in words]
print(length)
list1 = [[w.upper(),w.lower(),len(w)] for w in words]
print(list1)
char4 = [w for w in words if len(w) >=4]
print(char4)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']